@import url('https://fonts.googleapis.com/css?family=Open+Sans:600,700');

html {
  width: 100vw;
}

body {
  font-family: 'Open Sans', sans-serif;
  color: #585f78;
  background-color: rgba(#fc7f2c, 0.1);
  width: 100vw;
}
